# Priorizar arquivos Python
*.py linguist-detectable=true

# Desconsiderar arquivos .tex, que estão dominando a contagem
*.tex linguist-detectable=false

# Arquivos de outros tipos que não devem ser contabilizados
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Marcar arquivos gerados para que não sejam contados
*.generated.html linguist-generated=true
docs/*.html linguist-generated=true
build/*.html linguist-generated=true
/doc/* linguist-generated=true

# Ignorar arquivos de imagem e outros recursos não-código
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.ico linguist-detectable=false
